@import "bootstrap.less";
@import "glyphicons.less";

@import "swiper/idangerous.swiper.less";

@import "mixin.less";
@import "keyframe.less";

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

ul,ol,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    padding-top: 53px;
    padding-bottom: 15px;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    overflow-x: hidden;
}

.slideUp {
  transform: translate3d(0, -2000px, 0);
  transition: transform 2s;
  -webkit-transform: translate3d(0, -2000px, 0);
  -webkit-transition: -webkit-transform 2s;
}

.side-nav, .content-wrap, .head-nav{
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.content-wrap,
.nav {
  //transform: translate3d(160px, 0, 0);
  //-webkit-transform: translate3d(160px, 0, 0);
}

.side-nav {
  position: fixed;
  left: -50%;
  width: 50%;
  height: 100%;
  z-index: 2001;
  text-align: center;
  background-color: #d6d6d6;
  margin-top: -53px;
  -webkit-box-shadow:inset -5px 0 5px -3px rgba(0,0,0,0.4);
  box-shadow:inset -5px 0 5px -3px rgba(0,0,0,0.4);
  
  li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #b9b9b9;
    a {
      font-size: 16px;
      color: #444444;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &.active {
      background-color: #959595;
      border-left: 5px solid #5d4972;
      a {
        color: #fff;
      }
    }
  }
}

.welcome {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/welcomebg_640x960.png) no-repeat 50% 50%;
  background-size: 100% 100%;
  z-index: 3000;
  text-align: center;
  color: #FFF;
  .mask {
    width: 100%;
    height: 100%;
    background: url(../images/mask_2x2.png) repeat left top;
  }
  .circle-label {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    line-height: 140px;
    border-radius: 75px;
    border: 5px solid rgba(251,251,251, 0.3);
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -75px;
    opacity: 0;
    .wrap {
      border-radius: 75px;
      background-clip:content-box;
    }
    &.circle-label-1 {
      .wrap {
         background-color: rgba(130,91,169, 0.88);
      }
      .animation(fadeOut, 5s, linear, 0s, 1, normal, running, forwards);
    }
    &.circle-label-2 {
       .wrap {
         background-color: rgba(109,165,64, 0.88);
      }
      .animation(fadeInAndOut, 10s, linear, 2.5s, 1, normal, running, forwards);
    }
    &.circle-label-3{
      .wrap {
         background-color: rgba(241,141,48, 0.88);
      }
      .animation(fadeInAndOut, 10s, linear,10s, 1, normal, running, forwards);
    }
    &.circle-label-4{
      .wrap {
         background-color: rgba(89,132,210, 0.88);
      }
      .animation(fadeIn, 5s, linear,17.5s, 1, normal, running, forwards);
    }
  }
  p {
    position: absolute;
    width: 100%;
    top: 65%;
    font-size: 20px;
  }
}

.nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #4d4159;
  position: fixed;
  z-index: 2000;
  top: 0;
  .menu,
  .phone,
  .address {
    position: absolute;
    height: 50px;
    line-height: 55px;
    color: #f5f1f9;
    top: 0;
    font-size: 24px;
  }
  .menu {
    left: 10px;
  }
  .phone {
    right: 10px;
  }
  .address {
    right: 50px;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #f5f0f9;
  }
  .color-border {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 3px;
    li {
      float: left;
      width: 25%;
      height: 100%;
      &.color-1 {
        background-color: #f23f6c;
      }
      &.color-2 {
        background-color: #f39031;
      }
      &.color-3 {
        background-color: #6fa841;
      }
      &.color-4 {
        background-color: #5b87d3;
      }
    }
  }
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: -25px;
  width: 100%;
  .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #dcdcdc;
    margin: 0 3px;
    cursor: pointer;
    &.swiper-active-switch {
      background: #4d4159;
    }
  }
}

.part-banner {
  .pagination {
    z-index: 2;
    bottom: 5px;
    .swiper-pagination-switch {
      &.swiper-active-switch {
        background: #f33f6e;
      }
    }
  }
}

.banner {
  margin-top: 15px;
  &.part-banner {
    margin-top: 0;
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        img {
          display: inline-block;
          width: 100%;
          border-radius: 8px;
          //border: 5px solid #111;
          -webkit-border-radius: 8px;
          -webkit-transform: translateZ(0);
          -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
        }
      }
    }
  }
  .radius {
    .swiper-container {
      border-radius: 8px;
      //border: 5px solid #111;
      -webkit-border-radius: 8px;
      -webkit-transform: translateZ(0);
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    }
  }
}



.radius {
  position: relative;
  overflow: hidden;
  .cornor {
    position: absolute;
    z-index: 1999;
    width: 8px;
    height: 8px;
    &.top-left {
      left: -1px;
      top: 0;
      background: url(../images/border_24x24.png) no-repeat left top;
    }
    &.top-right {
      right: -1px;
      top: 0;
      background: url(../images/border_24x24.png) no-repeat left top;
      background-position: -16px top;
    }
    &.bottom-left {
      left: -1px;
      bottom: 0;
      background: url(../images/border_24x24.png) no-repeat left top;
      background-position: 0 -16px;
    }
    &.bottom-right {
      right: -1px;
      bottom: 0;
      background: url(../images/border_24x24.png) no-repeat left top;
      background-position: -16px -16px;
    }
  }
}

.col-left {
  padding-right: 7.5px;
}
.col-right {
  padding-left: 7.5px;
}

.nav-l-1 {
  margin-top: 15px;
  padding-bottom: 15px;
  .nav-l-1-btn {
    margin-top: 15px;
    padding-top: 15px;
    border-radius: 10px;
    display: block;
    height: 90px;
    text-align: center;
    strong {
      margin-top: 10px;
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
    }
    text-decoration: none;
    &.btn-1 {
      background-color: #f23f6c;
      &:active,
      &:hover {
        background-color: #d93860;
      }
    }
    &.btn-2 {
      background-color: #f39031;
      &:active,
      &:hover  {
        background-color: #d97f2b;
      }
    }
    &.btn-3 {
      background-color: #6fa841;
      &:active,
      &:hover  {
        background-color: #5d8c37;
      }
    }
    &.btn-4 {
      background-color: #5b87d3;
      &:active,
      &:hover  {
        background-color: #5077ba;
      }
    }
  }
}

.part,
.list,
.detail {
  background-color: #ebe6ef;
}
.part {
  background-color: #ebe6ef;
  .nav-l-2 {
    margin-top: 15px;
    a.btn {
      &.btn-block {
        margin-bottom: 15px;
      }
      &.btn-default {
        color: #181515;
        border: none;
        &:hover {
          background: #F1F1F1;
        }
      }
      &.btn-lg {
        line-height: 2;
      }
    }
  }
  &.part-1 {
    .swiper-pagination-switch {
      &.swiper-active-switch {
        background: #f33f6e;
      }
    }
    .nav-l-2 {
       a.btn {
         &.btn-default {
            border-bottom:1px solid  #eea3bb;
          }
       }
    }
  }
  &.part-2 {
    .nav-l-2 {
       a.btn {
         &.btn-default {
            border-bottom:1px solid  #6da540;
          }
       }
    }
    .swiper-pagination-switch {
      &.swiper-active-switch {
        background: #6da540;
      }
    }
  }
  &.part-3 {
    .nav-l-2 {
       a.btn {
         &.btn-default {
            border-bottom:1px solid  #5984d2;
          }
       }
    }
    .swiper-pagination-switch {
      &.swiper-active-switch {
        background: #5984d2;
      }
    }
  }
}

.project-list {
  padding: 20px 10px;
  a {
    color: #000;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #000;
    }
  }
}

.project-detail {
  color: #000;
  margin-top: 15px;
  .img-title {
  }
  h4 {
    text-align: center;
    font-size:  24px;
    margin: 10px 0;
  }
  p {
    padding: 0 1em;
    margin-top: 0;
    margin-bottom: 1em;
    text-indent: 2em;
  }
}

.vote-page,
.contactus-page {
  background-color: #d7deed;
}

.container {
  &.vote,
  &.contactus {
    padding: 30px;
    .col-xs-6 {
      margin-bottom: 15px;
    }
    .btn {
      color: #FFF;
      line-height: 1.8;
      &.btn-default {
        border: none;
      }
      &.btn-color-1 {
        background-color: #ec3b6b;
        &:hover,
        &:focus,
        &:active {
          background-color: #ba2f54;
        }
      }
      &.btn-color-2 {
        background-color: #ed8c2f;
        &:hover,
        &:focus,
        &:active {
          background-color: #ba6d25;
        }
      }
      &.btn-color-3 {
        background-color: #5582d2;
        &:hover,
        &:focus,
        &:active {
          background-color: #3f629e;
        }
      }
    }
    .form-wrap {
      margin-top: 15px;
    }
    .form-control  {
      background-color: #bec9e0;
      color: #91a0bf;
      border: none;
    }
  }
}

.contactinfo-page {
  background-color: #edf2f6;
  .map {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border: 3px solid #fff;
    border-radius: 3px;
  }
  h4{
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
  }
  h5{
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
  }
  address {
    font-style: normal;
    line-height: 1.6em;
  }
}
